@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0px;
    background-color: #ebebeb;
}

header {
    background-color: #1B5E20;
    display: flex;
}

#logomarca-ufrrj {
    width: 60%;
}

#menu-header {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin: auto;
    gap: 20%;
    width: 30%;
    padding: 0;
}

.item-menu-header {
    border: 1px solid  #10b19100;
    border-radius: 10px;
    padding: 8px 12px;
    background-color: #1B5E20;
    cursor: pointer;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

#home {
    border: 1px solid #000000;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center
}

#h1-home {
    font-family: "Montserrat", sans-serif;
    color: #333333;
    font-size: 350%;
    margin-bottom: 0px
}

#h2-home {
    font-family: "Lato", sans-serif;
    color: #333333;
    font-size: 200%;
}

#img-home {
    width: 60%;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin: 15px;
    max-width: 150px;
}

.card-name {
    font-family: "Montserrat", sans-serif;
    color: #333333;
}

.card-info {
    font-family: "Lato", sans-serif;
    color: #333333;
}

#about {
    border: 1px solid #000000;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center
}

#h2-about {
    font-family: "Montserrat", sans-serif;
    color: #333333;
}

#p-about {
    font-family: "Lato", sans-serif;
    color: #333333;
}

footer {
    background-color: #1B5E20;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#p-about {
    font-family: "Lato", sans-serif;
    color: #333333;
    margin: 20px;
}
