@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0px;
    padding: 0px;
}


body {
    margin: 0px;
    background-color: #dad9d9;
    padding-top: 60px;
}

header {
    background-color: #1B5E20;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
}

#logomarca-ufrrj {
    height: 60px;
}

#navbar {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin: auto;
    gap: 20%;
    width: 30%;
    padding: 0;
}

.item-navbar {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    color: #333333;
    font-size: large;
}

.item-menu-header {
    border: 1px solid  #10b19100;
    border-radius: 10px;
    padding: 8px 12px;
    background-color: #1B5E20;
    cursor: pointer;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

#home {
    border: 1px solid #000000;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    scroll-margin-top: 60px;
}

#h1-home {
    font-family: "Montserrat", sans-serif;
    color: #333333;
    font-size: 350%;
    margin-bottom: 0px
}

#h2-home {
    font-family: "Lato", sans-serif;
    color: #333333;
    font-size: 200%;
}

#img-home {
    width: 60%;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    scroll-margin-top: 60px;

}

.card {
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin: 15px;
    max-width: 250px;
    background-color: rgb(228, 227, 227);
}

.card-name {
    font-family: "Montserrat", sans-serif;
    color: #333333;
    margin-bottom: 5%;
}

.card-info {
    font-family: "Lato", sans-serif;
    color: #333333;
    margin: 2%;
}

#about {
    border: 1px solid #000000;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    scroll-margin-top: 60px;
}

#h2-about {
    font-family: "Montserrat", sans-serif;
    color: #333333;
}

#p-about {
    font-family: "Lato", sans-serif;
    color: #333333;
}

footer {
    background-color: #1B5E20;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-family: "Lato", sans-serif;
    height: 30px;
}

#p-about {
    font-family: "Lato", sans-serif;
    color: #333333;
    margin: 20px;
}

.card-img {
    max-width: 250px;
}

#github-footer {
    align-items: center;
}

.card-button {
    border: 1px solid #fab040;
    background-color: #FFB74D;
    border-radius: 5px;
    padding: 1% 3%;
    margin: 10px auto 0;
    margin-top: 3%;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: #333333;
    box-shadow:  5px 5px 15px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 75px;
}